.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container{
 background: skyblue;
 width: 80vw;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 gap: 5px;

 padding: 1rem;
 margin: 1rem;

}
.card{
  width: 300px;
  background: white;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}
.card img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.card button{
  padding: 5px 10px;

}
.flag-btn{
  font-size: small;
  color: blue;
  font-weight: bolder;
  cursor: pointer;
}
.end{
  color: white;
  font-size: 20px;
}
.message {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.message p {
  font-size: 1.2em;
  color: #666;
}